body {
  background-color: $bck;
  font-family: "regular";
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 100px 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  @include responsive(tablet) {
    padding: 80px 20px;
  }
  @include responsive(s-tablet) {
    padding: 0px;
  }
  main {
    @include container(flex, space-between, auto);
    max-width: 950px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 15px;
    background-color: $white;
    border-radius: 15px;
    position: relative;
    @include responsive(s-tablet) {
      flex-direction: column;
      background-color: transparent;
      padding: 0px;
    }
    .sidebar {
      background-image: url("../../assets/images/bg-sidebar-desktop.svg");
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 10px;
      padding: 40px 30px;
      width: 25%;
      @include responsive(tablet) {
        width: 30%;
        padding: 30px 15px;
      }
      @include responsive(s-tablet) {
        @include container(flex, center, center);
        background-image: url("../../assets/images/bg-sidebar-mobile.svg");
        border-radius: 0px;
        padding: 40px 0px 100px 0px;
        position: absolute;
        width: 100%;
        height: fit-content;
      }
      @include responsive(phone) {
        padding: 40px 0px 100px 0px;
      }
      .step {
        @include container(flex, flex-start, center);
        &:not(:last-child) {
          margin-bottom: 33px;
        }
        .step-number {
          border: 1px solid white;
          padding: 10px;
          border-radius: 50%;
          height: 33px;
          width: 33px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 15px;
          span {
            color: white;
            font-family: "bold";
            font-size: 14px;
          }
        }
        .step-info {
          span {
            color: $light-blue;
            font-size: 12px;
          }
          p {
            color: $white;
            font-size: 14px;
            font-family: "bold";
          }
          @include responsive(s-tablet) {
            display: none;
          }
        }
        .active {
          background-color: $active-num;
          span {
            color: $main-blue;
          }
        }
        @include responsive(s-tablet) {
          margin-bottom: 0px;
          &:not(:last-child) {
            margin-bottom: 0px;
          }
        }
      }
    }
    .main-content {
      @include container(flex, center, auto);
      width: 60%;
      padding: 50px 80px 0px 0px;
      @include responsive(tablet) {
        padding: 50px 20px 0px 0px;
      }
      @include responsive(tablet) {
        width: 65%;
      }
      @include responsive(s-tablet) {
        background-color: $white;
        margin: 20% auto;
        margin-top: 22%;
        z-index: 2;
        padding: 24px;
        border-radius: 10px;
        width: 95%;
      }
      @include responsive(phone) {
        margin-top: 25%;
      }
      @include responsive(s-phone) {
        margin-top: 30%;
      }
      .activestep {
        display: flex !important;
      }
      .step-content {
        @include container(none, space-between, auto);
        flex-direction: column;
        width: 100%;
        .content {
          .title {
            span {
              font-size: 32px;
              color: $main-blue;
              font-family: "bold";
              @include responsive(phone) {
                font-size: 24px;
              }
            }
            p {
              font-size: 16px;
              color: $main-gray;
              margin-top: 11px;
            }
          }
          form {
            @include container(flex, auto, auto);
            flex-direction: column;
            margin-top: 20px;
            label {
              @include container(flex, auto, auto);
              flex-direction: column;
              margin-top: 25px;
              .label-title {
                @include container(flex, space-between, center);
                margin-bottom: 8px;
                span {
                  color: $main-blue;
                  font-size: 14px;
                  @include responsive(phone) {
                    font-size: 12px;
                  }
                }
                p {
                  font-size: 14px;
                  color: $warning;
                  font-family: "bold";
                  display: none;
                  @include responsive(phone) {
                    font-size: 12px;
                  }
                }
              }
              input {
                padding: 16px 12px;
                border-radius: 8px;
                border: 1px solid $border;
                .required {
                  border-color: $warning !important;
                }
              }
            }
          }
          .plan-container {
            @include container(flex, space-between, center);
            margin-top: 40px;
            @include responsive(s-tablet) {
              margin-top: 20px;
            }
            @include responsive(s-tablet) {
              flex-direction: column;
              width: 100%;
            }
            .plan {
              flex: 0.3;
              border-radius: 8px;
              border: 1px solid $border;
              padding: 20px;
              cursor: pointer;
              transition: 250ms;
              @include responsive(s-tablet) {
                width: 100%;
                @include container(flex, auto, center);
                &:not(:last-child) {
                  margin-bottom: 20px;
                }
              }
              &:hover {
                border-color: $main-purple;
                transition: 250ms;
              }
              img {
                width: 40px;
                height: 40px;
              }
              .price {
                padding-top: 30px;
                @include responsive(s-tablet) {
                  padding: 0px 20px;
                }
                h3 {
                  font-size: 16px;
                  color: $main-blue;
                  padding-bottom: 10px;
                  font-family: "medium";
                }
                span {
                  font-size: 14px;
                  color: $main-gray;
                }
                p {
                  padding-top: 10px;
                  font-size: 12px;
                  display: none;
                  color: $main-blue;
                }
              }
            }
            .activeplan {
              background-color: $light-gray;
              border-color: $main-purple;
            }
          }
          .plan-type {
            @include container(flex, center, center);
            background-color: $light-gray;
            margin-top: 30px;
            padding: 13px;
            border-radius: 8px;
            span {
              color: $main-gray;
              font-size: 14px;
              font-family: "medium";
            }
            .togSpan {
              color: $main-blue;
            }
            .toggle-switch {
              position: relative;
              display: inline-block;
              width: 40px;
              height: 24px;
              margin: 0px 15px;
              .toggle-input {
                display: none;
                &:checked + .toggle-label {
                  background-color: $main-blue;
                  &::before {
                    transform: translateX(16px);
                  }
                }
              }
              .toggle-label {
                position: absolute;
                top: 0;
                left: 0;
                width: 40px;
                height: 24px;
                border-radius: 17px;
                background-color: #ccc;
                cursor: pointer;
                transition: background-color 0.4s ease;
                &::before {
                  content: "";
                  position: absolute;
                  top: 3px;
                  left: 3px;
                  width: 18px;
                  height: 18px;
                  border-radius: 50%;
                  background-color: $white;
                  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                  transition: transform 0.4s ease;
                }
              }
            }
          }
          .addons-container {
            margin-top: 40px;
            @include responsive(s-tablet) {
              margin-top: 20px;
            }
            .addon {
              @include container(flex, auto, center);
              border: 1px solid $border;
              padding: 18px 24px;
              border-radius: 8px;
              @include responsive(m-tablet) {
                padding: 15px 15px;
              }
              @include responsive(phone) {
                padding: 12px 10px;
              }
              .checkbox {
                .addonCheckbox {
                  width: 20px;
                  height: 20px;
                  cursor: pointer;
                }
              }
              .addon-title {
                margin-left: 24px;
                @include responsive(m-tablet) {
                  margin-left: 18px;
                }
                @include responsive(phone) {
                  margin-left: 14px;
                }
                h3 {
                  font-size: 16px;
                  color: $main-blue;
                  font-family: "medium";
                  padding-bottom: 5px;
                  @include responsive(phone) {
                    font-size: 14px;
                  }
                }
                p {
                  color: $main-gray;
                  font-size: 14px;
                  padding-top: 5px;
                  @include responsive(phone) {
                    font-size: 12px;
                  }
                }
              }
              .addon-price {
                margin-left: auto;
                span {
                  color: $main-purple;
                  font-size: 14px;
                  @include responsive(phone) {
                    font-size: 12px;
                  }
                }
              }
            }
            .activeAddon {
              background-color: $light-gray;
              border-color: $main-purple;
            }
          }
          .summary {
            background-color: $light-gray;
            padding: 16px 24px;
            border-radius: 8px;
            margin-top: 40px;
            .summ1 {
              @include container(flex, space-between, center);
              .sum-left {
                @include container(flex, auto, auto);
                flex-direction: column;
                #planType {
                  font-size: 16px;
                  color: $main-blue;
                  font-family: "medium";
                  @include responsive(phone) {
                    font-size: 14px;
                  }
                }
                #change {
                  background-color: transparent;
                  border: none;
                  text-align: left;
                  color: $main-gray;
                  text-decoration: underline;
                  transition: 250ms;
                  font-size: 14px;
                  margin-top: 8px;
                  &:hover {
                    color: $main-purple;
                    transition: 250ms;
                  }
                }
              }
              .sum-right {
                #planMoney {
                  font-size: 16px;
                  color: $main-blue;
                  font-family: "bold";
                  @include responsive(phone) {
                    font-size: 14px;
                  }
                }
              }
            }
            .underline {
              height: 1px;
              background-color: $main-gray;
              margin: 24px 0px;
              opacity: 0.2;
            }
            .summ2 {
              .summ-addon {
                @include container(flex, space-between, center);
                &:not(:last-child) {
                  margin-bottom: 15px;
                }
                p {
                  font-size: 14px;
                  color: $main-gray;
                }
                span {
                  font-size: 14px;
                  color: $main-blue;
                }
              }
              .sumadd1,
              .sumadd2,
              .sumadd3 {
                display: none;
              }
            }
          }
          .total {
            @include container(flex, space-between, auto);
            padding: 20px 24px;

            p {
              font-size: 14px;
              color: $main-gray;
            }
            span {
              color: $main-purple;
              font-size: 20px;
              font-family: "bold";
              @include responsive(phone) {
                font-size: 16px;
              }
            }
          }
        }
        .pagination {
          @include container(flex, space-between, center);
          width: 100%;
          .back {
            background-color: transparent;
            border: none;
            font-size: 16px;
            transition: 250ms;
            font-family: "medium";
            color: $main-gray;
            &:hover {
              color: $main-blue;
              transition: 250ms;
            }
            @include responsive(phone) {
              font-size: 14px;
            }
          }
          .next {
            font-size: 16px;
            color: $white;
            background-color: $main-blue;
            padding: 14px 24px;
            border-radius: 8px;
            margin-left: auto;
            transition: 250ms;
            border: none;
            &:hover {
              background-color: #164a8a;
              transition: 250ms;
            }
            @include responsive(phone) {
              font-size: 14px;
              padding: 12px 18px;
            }
          }
          @include responsive(s-tablet) {
            position: absolute;
            background-color: $white;
            bottom: 0;
            right: 0;
            left: 0;
            padding: 16px;
          }
        }
        .confirmed {
          @include container(flex, center, center);
          flex-direction: column;
          height: 100%;
          width: 100%;
          text-align: center;
          @include responsive(s-tablet) {
            padding: 70px 0px;
          }
          img {
            width: 80px;
            height: 80px;
            margin-bottom: 30px;
          }
          span {
            font-size: 32px;
            font-family: "bold";
            color: $main-blue;
            @include responsive(phone) {
              font-size: 24px;
            }
          }
          p {
            margin-top: 15px;
            font-size: 16px;
            line-height: 25px;
            color: $main-gray;
          }
        }
      }
    }
  }
  .show {
    display: block !important;
  }
}
