* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "ubuntu";
  src: url("../fonts/Ubuntu-Regular.ttf");
}
body {
  background-color: #eff5ff;
  height: 100vh;
  display: flex;
  padding: 100px 0px;
  align-items: center;
  font-family: "ubuntu";
}
button {
  cursor: pointer;
}
main {
  max-width: 950px;
  width: 100%;

  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: white;
  border-radius: 15px;
}
.sidebar {
  background-image: url("../images/bg-sidebar-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 40px 30px;
  flex: 0.25;
}
.step {
  display: flex;
  align-items: center;
}
.step:not(:last-child) {
  margin-bottom: 33px;
}
.step-number {
  border: 1px solid white;
  padding: 10px;
  border-radius: 50%;
  height: 33px;
  width: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}
.step-number span {
  color: white;
  font-weight: bold;
  font-size: 14px;
}
.active {
  background-color: #bee2fd;
}
.active span {
  color: black;
}
.step-info span {
  color: #abbcff;
  font-size: 12px;
}
.step-info p {
  color: white;
  font-size: 14px;
  font-weight: bold;
}
.main-content {
  flex: 0.6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 80px 0px 0px;
}
.title span {
  font-size: 32px;
  color: #022959;
  font-weight: bold;
}
.title p {
  font-size: 16px;
  color: #9699aa;
  margin-top: 11px;
}
.form-content {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.activeform {
  display: flex;
}
.form-content form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.form-content form label {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
.form-content form label .label-title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}
.label-title span {
  color: #022959;
  font-size: 14px;
}
.label-title p {
  font-size: 14px;
  font-weight: bold;
  color: #ee374a;
  display: none;
}
.form-content form label input {
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px solid #d6d9e6;
}
.required {
  border-color: #ee374a !important;
}
.show {
  display: block !important;
}
.pagination {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.back {
  color: #9699aa;
  background-color: transparent;
  border: none;
  font-size: 16px;
}
.next {
  font-size: 16px;
  color: white;
  background-color: #022959;
  padding: 14px 24px;
  border-radius: 8px;
  margin-left: auto;
}
.next:disabled {
  opacity: 0.5;
}

.plan-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.plan {
  flex: 0.3;
  border-radius: 8px;
  border: 1px solid #d6d9e6;
  padding: 20px;
  cursor: pointer;
  transition: 250ms;
}
.activeplan {
  background-color: #f8f9ff;
  border-color: #483eff;
}
.plan:hover {
  border-color: #483eff;
  transition: 250ms;
}
.plan img {
  width: 40px;
  height: 40px;
}
.price {
  padding-top: 30px;
}
.price h3 {
  font-size: 16px;
  color: #022959;
  padding-bottom: 10px;
}
.price span {
  color: #9699aa;
  font-size: 14px;
}

.monthFree {
  color: #022959;
  padding-top: 10px;
  font-size: 12px;
  display: none;
}
.plan-type {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  background-color: #f8f9ff;
  margin-top: 30px;
  padding: 13px;
  border-radius: 8px;
}
.plan-type span {
  color: #022959;
  font-size: 14px;
}

/* toggle */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin: 0px 15px;
}

.toggle-input {
  display: none;
}

.toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 24px;
  border-radius: 17px;
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.toggle-label:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s ease;
}

.toggle-input:checked + .toggle-label {
  background-color: #022959;
}

.toggle-input:checked + .toggle-label:before {
  transform: translateX(16px);
}
.addons-container {
  margin-top: 40px;
}
.addon {
  width: 100;
  border: 1px solid #d6d9e6;
  padding: 18px 24px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.addonCheckbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.addon-title {
  margin-left: 24px;
}
.addon-title h3 {
  font-size: 16px;
  color: #022959;
  font-weight: 600;
  padding-bottom: 5px;
}
.addon-title p {
  color: #9699aa;
  font-size: 14px;
  padding-top: 5px;
}
.addon-price {
  margin-left: auto;
}
.addon-price span {
  color: #483eff;
  font-size: 14px;
}
.activeAddon {
  background-color: #f8f9ff;
  border-color: #483eff;
}
