$main-blue: #022959;
$main-gray: #9699aa;
$main-purple: #483eff;
$border: #d6d9e6;
$light-gray: #f8f9ff;
$light-blue: #abbcff;
$bck: #eff5ff;
$white: #ffffff;
$active-num: #bee2fd;
$warning: #ee374a;
